*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}
.header
{
  position: relative;
  width: 100%;
  min-height: 5vh;
  padding: 20px;
}
h1
{
  font-weight: 600;
  color: #39503d;
  width: 100%;
}
.menu
{
  position: relative;
  width: 100%;
  padding: 10px;
}
h3
{
  font-weight: 550;
  margin-bottom: 5px;
  color: #39503d;
}
#blur
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #a3bcb6;
  transition: 0.5s;
  padding: 20px;
}
#blur.active
{
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}
.card
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(0, auto);
}
#dataset-form-container
{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0,0,0,.30);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#dataset-form-container.active
{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
#visualization-form-container
{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0,0,0,.30);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#visualization-form-container.active
{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
#visualization-container
{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 1000px; */
  padding: 75px;
  box-shadow: 0 5px 30px rgba(0,0,0,.30);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#visualization-container.active
{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  pointer-events: auto;
}